/node_modules
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
# Public
/public/hot
/public/storage
/public/mix-manifest.json
/public/js/
/public/css/
